@page
@model cs392_demo.Pages.Inventory_Log.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<section class="delete-shell">
    <header class="delete-header">
        <h1>Delete Inventory Log</h1>
        <p class="inventory-subtitle">This action permanently removes this log entry.</p>
    </header>

    <div class="delete-card">
        <p class="delete-warning">Are you sure you want to delete this log?</p>

        <dl class="delete-grid">
            <dt>
            @Html.DisplayNameFor(model => model.Inventory_Activity_Log.Log_ID)
            </dt>
            <dd>
            @Html.DisplayFor(model => model.Inventory_Activity_Log.Log_ID)
            </dd>
            <dt>
            @Html.DisplayNameFor(model => model.Inventory_Activity_Log.Stock_ID_Log)
            </dt>
            <dd>
            @Html.DisplayFor(model => model.Inventory_Activity_Log.Stock_ID_Log)
            </dd>
            <dt>
            @Html.DisplayNameFor(model => model.Inventory_Activity_Log.Quantity_Before)
            </dt>
            <dd>
            @Html.DisplayFor(model => model.Inventory_Activity_Log.Quantity_Before)
            </dd>
            <dt>
            @Html.DisplayNameFor(model => model.Inventory_Activity_Log.Quantity_After)
            </dt>
            <dd>
            @Html.DisplayFor(model => model.Inventory_Activity_Log.Quantity_After)
            </dd>
            <dt>
            @Html.DisplayNameFor(model => model.Inventory_Activity_Log.Changed_By)
            </dt>
            <dd>
            @Html.DisplayFor(model => model.Inventory_Activity_Log.Changed_By)
            </dd>
            <dt>
            @Html.DisplayNameFor(model => model.Inventory_Activity_Log.Changed_At)
            </dt>
            <dd>
            @Html.DisplayFor(model => model.Inventory_Activity_Log.Changed_At)
            </dd>
        </dl>

        <form method="post" class="delete-actions">
            <input type="hidden" asp-for="Inventory_Activity_Log.Log_ID" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-outline-secondary" asp-page="./Index">Back to List</a>
        </form>
    </div>
</section>
