@page
@model cs392_demo.Pages.Stock_Page.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Location_Stock_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Location_Stock_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Item_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Item_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.SKU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.SKU)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Danger_Range)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Danger_Range)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Last_Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Last_Updated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Last_Updated_by)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Last_Updated_by)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Stock.Stock_ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
