@page
@model cs392_demo.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="/cs360/TestModelClass/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestModelClass[0].testVal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TestModelClass) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.testVal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.testKey">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.testKey">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.testKey">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
