@page
@model cs392_demo.Pages.cs360.Inventory_Location.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inventory_Location</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory_Location.Location_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory_Location.Location_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory_Location.Address_Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory_Location.Address_Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory_Location.Owner_User_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory_Location.Owner_User_ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Inventory_Location.location_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Index">Back to List</a>
    </form>
</div>
